.container {
  padding: 3em 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #efefef;
}
.card {
  width: 400px;
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
  padding: 3em;
}
.title {
  margin: 0;
}
ul {
  margin: 1em 0;
  padding: 0;
}
li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* box-shadow: 0 0 2em rgba(25, 39, 80, 0.15); */
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 0 0 0.5em;
  text-transform: capitalize;
}
li button {
  margin-left: 1.5em;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  width: initial;
  margin: initial;
  width: 30px;
  height: 30px;
}
.inputs {
  height: 30px;
  display: flex;
}
.inputs input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 100%;
  flex: 1;
  padding: 0 0.5em;
}
.inputs input:focus {
  outline: none;
}
.inputs button {
  margin: 0 0 0 .5em !important;
  height: 100%;
  background-color: lightgreen;
  box-shadow: 0 0 1em rgba(144, 238, 144, 0.5);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 1em;
  font-weight: bold;
}
.inputs button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
