:root {
  --primary: #1c2b51;
  --accent: #F55D25;
}
.container {
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #efefef;
}
.navigation {
  display: flex;
  margin: 5em 0;
}
.navigation li {
  list-style: none;
}
.navigation li a:hover {
  color: var(--accent);
}
.navigation li a {
  text-decoration: none;
  margin: 0 1em;
  text-transform: capitalize;
  color: var(--primary);
}
.active {
  font-weight: bold;
}
.navigation li a:hover {
  text-decoration: underline;
}